img{
    text-align: right;
    position: absolute;
    margin-left: 850px;
    margin-top: 40px;
}

h1{
    margin-bottom: 50px;
}

body{
    text-align: left;
    margin-left: 40px;
}

div{
    margin-top: 35px;
}